<!DOCTYPE html>
<html>
    <head>
        <title>FTP Manager</title>
        
    </head>
    <body>
        <h1>Hello</h1>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
    </body>
</html>